<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Book store - Login</title>
</head>
<body>
    <div>
        {% with action_url="/", username_field="username", password_field="password", show_confirm=false, button_text="Login" %}
            {% include "user_form.html" %}
        {% endwith %}
        <a href="/register">Create account</a>
    </div>
</body>
</html> 