<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store - Register</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    {% include "toggle_theme.html" %}
    <div id="content">
        {% with action_url="/register", username_field="username", password_field="password", show_confirm=true, button_text="Register", register=true, title="Register" %}
            {% include "user_form.html" %}
        {% endwith %}
        
    </div>
    <script src="/static/js/toggle-theme.js"></script>
</body>
</html> 