<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/search.css"> 
</head> 
<body>
    {% include "toggle_theme.html" %}
    <header>
        {% if 'user_id' in session %}
        <form method="POST" action="/">
            <button type="submit">Logout</button>
        </form>
        {% endif %}
        <h1>Search Books</h1>
    </header>
    <section id="search">
        <form method="post" action="/search-books">
            <label for="isbn">Search by ISBN:</label>
            <input type="text" name="isbn" id="isbn">
            <input type="submit" value="Search by ISBN">
        </form>
        <form method="post" action="/search-books">
            <label for="title">Search by Title:</label>
            <input type="text" name="title" id="title">
            <input type="submit" value="Search by Title">
        </form>
        <form method="post" action="/search-books">
            <label for="author">Search by Author:</label>
            <input type="text" name="author" id="author">
            <input type="submit" value="Search by Author">
        </form>
    </section>
    {% if books %}
    <section>
        <ul  id="list_books">
            {% for book in books %}
                <li  id="item_books">
                    <strong>Name:</strong> {{ book.title }}
                    {% if book.images %}
                        <strong>Image:</strong>
                        <img src="{{ book.images }}" alt="imagen">
                    {% endif %}
                    <strong>Author:</strong> {{ book.authors }}
                    <strong>ISBN:</strong> {{ book.isbn }}
                    <a href="{{ url_for('book_detail', id=book.id) }}" class="details_button">Ver más detalles</a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <script src="/static/js/toggle-theme.js"></script>
</body>
</html> 